
.chart-title {
    font-size: 24px;
    text-anchor: middle;
    fill: #333;
}
.axis-label {
    font-size: 14px;
    fill: #666;
}
.bar {
    fill: rgb(135, 206, 235);
    transition: fill 0.3s ease;
    rx: 10; /* Rounded corners */
    ry: 10; /* Rounded corners */
}
.bar:hover {
    fill: orange;
}
.tooltip {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.shadow {
    filter: url(#drop-shadow);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}